body {
    background: url(./images/stars-glare-black-space.jpg);
    text-align: center;
    
  }
    
  
  h3 {
    color:white;
    font-size: 40px;
  }
  
  .grid {
   
    width: 1200px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    
  }